header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // padding: 15px 25px 15px 25px;
    color: var(--main-text-color);
}

header a{
    color: var(--main-text-color);
}

.header-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header-links a{
    text-decoration: none;
}

.menu-button{
    text-decoration: underline;
    cursor: pointer;
}

.header-link-item h1{
    margin: 0 auto;
}

.header-link-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-link-item img{
    width: 45px;
}

.header-link-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-underline{
    height: 2.5px;
    width: 0%;
    background-color: var(--main-text-color);
}

.underline-animation{
    animation: underlineFade 0.2s ease-in-out 0s 1 normal forwards;
}

.dark-panel{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
}


.close-icon{
    width: 40px;
    cursor: pointer;
}

.close-icon-rotate-on{
    animation: closeIconRotateOn 0.3s ease-in-out 0s 1 normal forwards;
}

.close-icon-rotate-over{
    animation: closeIconRotateOver 0.3s ease-in-out 0s 1 normal forwards;
}

@keyframes closeIconRotateOn {
    0%{
        transform: rotate(0deg) ;
    }

    100%{
        transform: rotate(180deg);
    }
}

@keyframes closeIconRotateOver {
    0%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.nav-menu{
    width: 300px;
    height: 100%;
    background-color: var(--main-bg-color);
    padding: 15px 0px 0px 15px;
    transform: translateX(-315px);
    position: fixed;
    z-index: 10;
    border-right: 1px solid grey;
}

.animation-left-menu-pop-in{
    animation: leftMenuPopIn 0.4s ease-in-out 0s 1 normal forwards;
}

.animation-left-menu-pop-up{
    animation: leftMenuPopUp 0.4s ease-in-out 0s 1 normal forwards;
}

@keyframes leftMenuPopUp {
    0%{
        transform: translateX(-315px);
    }

    100%{
        transform: translateX(0px);
    }
}

@keyframes leftMenuPopIn {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-315px);
    }
}

.nav-menu-item {
    border-bottom: 1px solid grey;
}

.nav-menu-item-description{
    margin: 0px;
    height: 0px;
    overflow: hidden;
}

.animation-nav-menu-item-description-show{
    animation: navMenuItemDescriptionShow 0.2s ease-in-out 0s 1 normal forwards;
}

.animation-nav-menu-item-description-hide{
    animation: navMenuItemDescriptionHide 0.2s ease-in-out 0s 1 normal forwards;
}

@keyframes navMenuItemDescriptionShow {
    0%{
        height: 0px;
    }

    100%{
        height: 100px;
    }
}

@keyframes navMenuItemDescriptionHide {
    0%{
        height: 100px;
    }

    100%{
        height: 0px;
    }
}

.nav-menu-item h1{
    margin: 0;
    font-weight: 400;


}

.nav-menu-item a{
    text-decoration: none;
    color: var(--main-text-color);
}


@keyframes underlineFade {
    0%{
        width: 0%;
    }

    100%{
        width: 100%;
    }
}

@media screen and (max-width: 1400px) {
    header{
        padding-left: 10px;
        padding-right: 10px;
    }
}   



@media screen and (max-width: 900px) {
    .header-links{
        display: none;
    }
}